#color-1 {
  background: url(../img/bg/bg_main.png) no-repeat 50% 50%;
  background-size: cover;
  left: 0;
}

#color-2 {
  background: url(../img/bg/bg_section_01.png) no-repeat 50% 50%;
  background-size: cover;
  left: 100%;
}

#color-3 {
  background: url(../img/bg/bg_section_02.png) no-repeat 50% 50%;
  background-size: cover;
  left: 200%;
}

#color-4 {
  background: url(../img/bg/bg_section_03.png) no-repeat 50% 50%;
  background-size: cover;
  left: 300%;
}

#color-5 {
  background: #1a1917;
  background-size: cover;
  left: 400%;
}

#color-6 {
  background: azure;
  background-size: cover;
  left: 500%;
}

#color-7 {
  background: url(../img/bg/bg_section_04.png) no-repeat 50% 50%;
  background-size: cover;
  left: 600%;
}

#color-8 {
  background-size: cover;
  left: 700%;
}

#scroll-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.nav_controls {
  width: 120px;
  height: 100%;
  background: #1a1917;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.nav_controls .top_controls {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 66px;
  right: 0;
  text-align: center;
}

.nav_controls .bottom_controls {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  bottom: 66px;
  right: 0;
  text-align: center;
  color: #fff;
  padding: 30px 0;
}

.bottom_controls>li {
  width: 100%;
  padding-bottom: 30px;
  transform: translateY(0);
  transition: all 0.4s;
}

.bottom_controls li:hover {
  transform: translateY(-10px);
}

.bottom_controls li>img {
  cursor: pointer;
}

.bottom_controls li>p {
  font-size: 0.8rem;
  padding-top: 10px;
}

.nav_controls .movement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: move alternate infinite 0.5s;
}

@keyframes move {
  0% {
    padding-left: -10px;
  }

  100% {
    padding-left: 10px;
  }
}

.top_controls>li {
  padding-top: 30px;
}

.main_content {
  width: 1280px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  padding: 8rem 0;
}

#title {
  width: 100%;
}

.main_content .title_text {
  font-size: 2.215rem;
  line-height: 1.8;
  padding: 3rem 0;
  color: #fff;
}

.main_content .main-list {
  width: 100%;
}

.main-list>li:first-child {
  margin-left: 0;
}

.main-list>li {
  width: 23%;
  height: 289px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-left: 2%;
  float: left;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 100;
}

.main-list>li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}

.main-list>li>p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
  font-family: "S-CoreDream-8Heavy", sans-serif;
  z-index: 1;
  color: #fff;
}

.main-list>li>img {
  position: absolute;
  top: 0;
  left: -130px;
  transform: scale(1.2);
  transition: all 0.6s;
}

.main-list>li:hover {
  border: 5px solid #f7d24b;
}

.main-list>li:hover>img {
  transform: scale(1.3);
}

#audio_btn_off {
  position: absolute;
  top: 60px;
  left: 40px;
}

.dust {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 1;
  width: 90%;
}

.page-nav {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.page-nav>li {
  font-size: 1.5rem;
  display: inline-block;
  margin-left: -4px;
  padding: 0 30px;
}

.page-nav>li>a {
  color: #fff;
  transition: all 0.4s;
}

.page-nav>li>a:hover {
  color: #f7d24b;
}

.info_content {
  width: 1280px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  color: #fff;
  padding: 8rem 0;
}

.info_content .title_page {
  font-size: 3.125rem;
  font-family: "S-CoreDream-8Heavy", sans-serif;
}

.info_outer {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.info_outer .info_inner {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.info_inner>dd:first-child {
  width: 48%;
  float: left;
  margin-right: 2%;
  font-size: 1.2rem;
  padding-top: 70px;
  line-height: 3.4;
}

.info_inner .imgs {
  width: 50%;
  float: left;
  padding: 20px 0;
}

.info_outer .list_wrapper {
  width: 100%;
}

.list_wrapper .list_title {
  font-size: 1.75rem;
  padding-bottom: 50px;
}

.list_wrapper>li {
  width: 30%;
  float: left;
  margin-left: 5%;
}

.list_wrapper>li:nth-child(2) {
  margin-left: 0;
}

.list_wrapper>li>img {
  cursor: pointer;
  width: 100%;
  height: 200px;
  border: 5px solid #fff;
  transition: all 0.4s;
}

.list_wrapper>li>img:hover {
  border: 5px solid #f7d24b;
}

.list_wrapper>li>img.add {
  border: 5px solid #f7d24b;
}

.mode_wrapper {
  width: 1280px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 0;
}

.mode_wrapper .title_page {
  font-size: 3.125rem;
  font-family: "S-CoreDream-8Heavy", sans-serif;
}

.mode_inner {
  width: 48%;
  height: auto;
  overflow: hidden;
  float: left;
  margin-right: 2%;
}

.mode_inner>li:nth-child(2),
.mode_inner>li:nth-child(4),
.mode_inner>li:nth-child(6) {
  margin-right: 0;
}

.listbg1 {
  background: url(../img/bg/bg_mod_01.png) no-repeat 50% 50%;
}

.listbg2 {
  background: url(../img/bg/bg_mod_02.png) no-repeat 50% 50%;
}

.listbg3 {
  background: url(../img/bg/bg_mod_03.png) no-repeat 50% 50%;
}

.listbg4 {
  background: url(../img/bg/bg_mod_04.png) no-repeat 50% 50%;
}

.listbg5 {
  background: url(../img/bg/bg_mod_05.png) no-repeat 50% 50%;
}

.listbg6 {
  background: url(../img/bg/bg_mod_06.png) no-repeat 50% 50%;
}

.mode_inner>li {
  width: 48%;
  height: 110px;
  float: left;
  position: relative;
  background-size: cover;
  cursor: pointer;
  border: 1px solid #4a4a4a;
  box-shadow: 7px 9px 13px 0px #11111194;
  margin: 20px 0;
  margin-right: 2%;
}

.mode_inner>li:hover {
  border: 1px solid #f7d24b;
}

.mode_inner>li>p {
  font-size: 1.18rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.mode_movie {
  width: 50%;
  height: auto;
  overflow: hidden;
  float: left;
}

.mode_content {
  width: 1280px;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.5rem;
  color: #fff;
}

.mode_content .mode_subtit {
  font-size: 1.75rem;
  color: #f7d24b;
}

.mode_subtit>span {
  display: block;
  font-size: 0.9rem;
  color: #fff;
  padding: 10px 0;
}

.mode_content .mode_sub {
  font-size: 0.9rem;
  padding: 3rem;
  margin-top: 2rem;
  line-height: 2;
  background: rgba(0, 0, 0, 0.5);
}

.faction_wrapper {
  width: 1280px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  color: #fff;
  padding-top: 8rem;
  padding-bottom: 0;
}

.faction_wrapper .title_page {
  font-size: 3.125rem;
  font-family: "S-CoreDream-8Heavy", sans-serif;
}

.faction_wrapper .img_box {
  width: 50%;
  height: 788px;
  overflow: hidden;
  float: left;
  position: relative;
}

.img_box>img {
  width: 100%;
  position: absolute;
  left: -20%;
  bottom: 0;
  opacity: 0;
  transition: all 1s;
}

#char_4 {
  bottom: -275px;
}

.img_box>img.add {
  opacity: 1;
  left: 0;
}

.faction_wrapper .faction_inner {
  width: 48%;
  height: auto;
  overflow: hidden;
  float: left;
  margin-left: 2%;
  text-align: center;
}

.faction_inner .logo_inner {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.logo_inner>dd {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 25px;
  margin-top: 30px;
}

.logo_inner>dd>strong {
  font-size: 1.06rem;
  font-family: "S-CoreDream-8Heavy", sans-serif;
  color: #f7d24b;
}

.logo_inner>dd>p {
  font-size: 1.125rem;
}

.logo_inner>dd {
  font-size: 1rem;
  line-height: 2;
}

.logo_inner .fac_logo {
  width: 40%;
}

.faction_inner .faction_list {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 60px;
}

.faction_list .faction_list_item {
  width: 25%;
  float: left;
  cursor: pointer;
  transition: all 0.5s;
  transform: translateY(0);
}

.faction_list_item:hover {
  transform: translateY(-10px);
}

.stauts_inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  color: #fff;
}

.stauts_inner .status_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#pos1 {
  background: url(../img/bg/bg_pos_01.png) no-repeat 50% 50%;
  background-size: cover;
}

#pos2 {
  background: url(../img/bg/bg_pos_02.png) no-repeat 50% 50%;
  background-size: cover;
}

#pos3 {
  background: url(../img/bg/bg_pos_03.png) no-repeat 50% 50%;
  background-size: cover;
}

#pos4 {
  background: url(../img/bg/bg_pos_04.png) no-repeat 50% 50%;
  background-size: cover;
}

.status_box>li {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 18.5rem;
}

.status_box>li>dl {
  width: 100%;
}

.status_box>li>dl>dt {
  font-size: 1.75rem;
  padding: 15px 0;
}

.status_box>li>dl>a {
  font-size: 1.25rem;
  color: #fff;
}

.status_box .status_sub {
  width: 100%;
  padding-top: 115px;
}

.status_sub>p {
  font-size: 1.3rem;
  padding-bottom: 15px;
}

.status_sub {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

.status_subbox:first-child {
  margin-top: 0;
}

.status_sub .status_subbox {
  width: 70%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.status_subbox>span {
  width: 20%;
  float: left;
  margin-right: 3%;
  line-height: 1.8;
}

.status_subbox>div {
  border: 1px solid #fff;

  width: 70%;
  height: 30px;
  margin: 0 auto;
  float: left;
  position: relative;
}

.status_subbox>div::after {
  content: "";
  width: 0;
  height: 100%;
  background: #f7d24b;
  display: block;
  transition: all 0.5s;
}

.status_box>li:hover .status_subbox>div::after {
  width: 100%;
}

.status_box>li:hover .status_subbox>#bar1::after {
  width: 20%;
}

.status_box>li:hover .status_subbox>#bar2::after {
  width: 70%;
}

.status_box>li:hover .status_subbox>#bar3::after {
  width: 40%;
}

.status_box>li:hover .status_subbox>#bar4::after {
  width: 60%;
}

.status_box>li:hover .status_subbox>#bar5::after {
  width: 80%;
}

.status_box>li:hover .status_subbox>#bar6::after {
  width: 40%;
}

.status_box>li:hover .status_subbox>#bar7::after {
  width: 40%;
}

.status_box>li:hover .status_subbox>#bar8::after {
  width: 40%;
}

.status_box>li:hover .status_subbox>#bar9::after {
  width: 40%;
}

.status_box>li:hover .status_subbox>#bar10::after {
  width: 90%;
}

.status_box>li:hover .status_subbox>#bar11::after {
  width: 60%;
}

.status_box>li:hover .status_subbox>#bar12::after {
  width: 90%;
}

.char_inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.char_inner .char_title {
  font-size: 5rem;
  font-family: "S-CoreDream-8Heavy", sans-serif;
  color: #333;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.char_inner .char_left_box {
  width: 70%;
  height: 100%;
  float: left;
  background: url(../img/bg/bg_update_left.png) no-repeat 50% 50%;
  background-size: cover;
}

.char_left_box .left_inner {
  width: 90%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  padding: 8.5rem 0;
}

.left_inner>ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 30px 0;
}

.left_inner>ul>li {
  width: 20%;
  float: left;
  text-align: center;
}

.left_inner>ul>li>p {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
  margin: 0 auto;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}

.left_inner>ul>li>p>span {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  display: none;
}

.left_inner .class_inner {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.class_inner .class_info:nth-child(2),
.class_inner .class_info:nth-child(4) {
  margin-left: 4%;
}

.class_inner .class_info:nth-child(3),
.class_inner .class_info:nth-child(4) {
  margin-top: 4%;
}

.class_inner .class_info {
  width: 46%;
  height: auto;
  overflow: hidden;
  float: left;
}

.class_info .char_Box {
  width: 50%;
  float: left;
}

.class_info .char_Box>dd>img {
  width: 100%;
}

.class_info .class_title {
  width: 46%;
  float: left;
  margin-left: 4%;
  text-align: center;
}

.class_title>dt {
  font-size: 2.125rem;
  font-family: "S-CoreDream-8Heavy", sans-serif;
  color: #333;
}

.class_title>dt .icons_title {
  padding: 0 15px;
}

.class_title>dd:nth-child(2) {
  font-size: 1.25rem;
  padding: 15px 0;
}

.class_title>dd:nth-child(3) {
  font-size: 1rem;
  line-height: 1.8;
}

.class_title>a:nth-child(4) {
  width: 140px;
  font-size: 0.6rem;
  line-height: 3;
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  border: 1px solid #333;
  transition: all 0.4s;

}

.class_title>a:nth-child(4):hover {
  background: #333;
  color: #fff;
}

.char_inner .char_right_box {
  width: 30%;
  height: 100%;
  float: left;
  background: url(../img/bg/bg_update_right.png) no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 7rem 0;
}

.char_right_box .img_icon {
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

.img_icon>img {
  display: block;
  margin: 0 auto;
}

.img_icon>span {
  display: block;
  font-size: 1.5rem;
  padding: 15px 0;
}

.buy_wrapper {
  width: 1280px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding-top: 2.5rem;
}

.buy_wrapper .title_page {
  font-size: 3.125rem;
  font-family: "S-CoreDream-8Heavy", sans-serif;
  color: #333;
}

.buy_wrapper .title_icon {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.title_icon>li:first-child {
  margin-left: 0;
}

.title_icon>li {
  display: inline-block;
  margin-left: 3%;
}

.buy_wrapper .buy_package {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 40px 0;
  color: #333;
}

.buy_package .package_list {
  width: 100%;
}

.package_list>li:first-child {
  margin-left: 0;
}

.package_list>li {
  width: 30%;
  float: left;
  margin-left: 3%;
  text-align: center;
}

.package_list>li>h3 {
  font-size: 1.85rem;
  font-family: 'S-CoreDream-8Heavy', sans-serif;
  padding-top: 20px;
}

.package_list>li>p {
  font-size: 1.25rem;
  padding: 15px 0;
}

.package_list>li>p>img {
  padding-right: 10px;
}

.package_list>li>a {
  width: 160px;
  line-height: 2.5;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 30px;
  transition: all .4s;
}

.package_list>li>a:hover {
  background: #333;
  color: #fff;
  font-weight: bold;
}

#color-8 .vcover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#color-8 #videobcg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
  overflow: hidden;
}

#color-8 .index_ft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px 0;
  background: #1a1917;
  color: #fff;
}

.index_ft .footer_logo {
  width: 80%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

.footer_logo>li {
  width: 16%;
  float: left;
}

.index_ft .middle>li:first-child {
  margin-left: 0;
}

.index_ft .middle {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.index_ft .middle>li {
  width: 13%;
  margin-left: 15%;
}

.index_ft .bottom {
  width: 40%;
  margin-bottom: 40px;
}

.index_ft .bottom>li {
  width: 10%;
  margin-left: 20%;
}

.index_ft>p {
  width: 80%;
  font-size: 0.90rem;
  line-height: 1.8;
  text-align: center;
  margin: 0 auto;
}

.mobile_text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;
}