@media all and (max-width:1600px) and (min-width:1336px) {
    .main_content {
        width: 80%;
    }

    .main-list>li {
        height: 254px;
    }

    .main_content .title_text {
        font-size: 2rem;
    }

    .info_content {
        width: 80%;
    }

    .mode_wrapper {
        width: 80%;
    }

    .mode_content {
        width: 80%;
    }

    .status_sub>p {
        font-size: 1.2rem;
    }

    .class_title>dd:nth-child(2) {
        display: none;
    }

    .class_title>dt .icons_title {
        padding: 0 4px;
    }

    .class_title>dt {
        font-size: 1.6rem;
    }

    .class_title>dd:nth-child(3) {
        font-size: 0.9rem;
        padding: 25px 0;
    }

    .char_left_box .left_inner {
        padding: 12.5rem 0;
    }

    .char_right_title>img {
        width: 70%;
    }

    .img_icon>span {
        font-size: 1.2rem;
    }

    .package_list>li>img {
        width: 75%;
    }

    #color-8 {
        background: #333;
        z-index: -1;
    }

    #color-8 #videobcg {
        top: -58px;
    }
}

@media all and (max-width:1335px) {
    #scroll-wrapper {
        display: none;
    }

    .mobile_text {
        display: block;
        font-size: 3rem;
        font-family: 'S-CoreDream-8Heavy', sans-serif;
        color: #333;
    }
}